@charset "UTF-8";
/* CSS Document */

html{scroll-behavior: smooth;}
body {	margin: 0; }
/*this is video background*/
.video {
    position: relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

#bgvideo {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height:100%;
width:auto;
Height: auto;
z-index:-1;
transform: translate( -50%, -50%);
object-fit: cover;
}
.overlay { 
    position: relative;
    z-index:1;
    color: white;
    text-align: center;
    top: 50%;
       transform: translateY(-50%)
}
.video::after
{content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, .3);
    z-index:0;

}
.mainnav {
    color: #592222;
  width: 1280px;
height: 60px;
    background: #D9CEC1;
    text-align: right;
    line-height: 60px;
    position: absolute;
    top: 0;
    z-index: 10;
    position: sticky;

 



}
    nav a {

    color: #592222;
font-family: "Dejanire Headline";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
    line-height: normal;
      
        text-decoration:none;
        margin: 20px;
    }

    .logo
{
height: 61px;
position: absolute;
top: 0;
left: 5px;
}
.main1
{
    margin: 0px;
}
#about1{
    margin-top: -0px;
}

.headerwelcome{

color: #592222;
text-align: center;
font-family: "Dejanire Headline";
font-size: 40px;
font-style: italic;
font-weight: 700;
line-height: normal;
float: left;
text-align: center;
margin-left: 100px;
margin-top: 100px;
}

.backgroundwelcome
 {

   
    background-image: url(../images/welcomebackgroundleft.svg);

width: 640px;
height: 772px;
   background-repeat: no-repeat;

   

 }

 .rightwelcomecoffeehouse
 {
    float: left;
    margin-left: 640px;
    margin-top: -772px;

    
 }
 .paragraph1welcome
 {
    color: #262116;
width: 455px;
height: 84px;
font-family: "Trade Gothic Next SR Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
float: left;
margin-left: 100px;
margin-top: -10px;

 }
.fairtrade{
    width: 40px;
height: 34px;
float: left;
margin-left: 210px;
margin-top: 5px;
}
 .paragraph2welcome
 {
    margin-top: 30px;
    color: #262116;
width: 455px;
height: 84px;
font-family: "Trade Gothic Next SR Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
float: left;
margin-left: 100px;

 }

.beginningleftphoto
 {
width: 640px;
height: 772px;
margin-top: -4.5px;

 }
 .backgroundwelcome2
 {
    background-image: url(../images/Beginningsketch.svg);
width: 640px;
height: 772px;
 float: left;
    margin-left: 640px;
    margin-top: -776px;
 }

 .beginparagraph{
    margin-top: -6px;
    color: #262116;
width: 455px;
height: 84px;
font-family: "Trade Gothic Next SR Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
float: left;
margin-left: 100px;
 }
.headerbeginning
 {
    color: #592222;
text-align: center;
font-family: "Dejanire Headline";
font-size: 40px;
font-style: italic;
font-weight: 700;
line-height: normal;
float: left;
text-align: center;
margin-left: 180px;
margin-top: 100px;
 }
 
 .leftartofcoffee
 {
    margin-top: -4px;
    background-image: url(../images/Leftartcoffee.svg);
    width: 640px;
height: 772px;
 }

.rightartofcoffee
{
    background-image: url(../images/rightartcoffee.jpg);
    width: 640px;
height: 772px;
  margin-left: 640px;
    margin-top: -772px;
}
 .headerart
 {
color: #592222;
text-align: center;
font-family: "Dejanire Headline";
font-size: 40px;
font-style: italic;
font-weight: 700;
line-height: normal;
float: left;
text-align: center;
margin-left: 170px;
margin-top: 100px;

 }

 .artparagraph{
    
    color: #262116;
width: 455px;
height: 84px;
font-family: "Trade Gothic Next SR Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
float: left;
margin-left: 100px;
 }
 .leftcontactlocation
 {
    width: 640px;
height: 772px;
 }
 .rightcontactlocation
 {
    background-image: url(../images/rightbackgroundvisit.jpg);
    width: 640px;
height: 772px;
  margin-left: 640px;
    margin-top: -776px;
 }

 .headercontactlocation
 {
    color: #592222;
text-align: center;
font-family: "Dejanire Headline";
font-size: 40px;
font-style: italic;
font-weight: 700;
line-height: normal;
float: left;
text-align: center;
margin-left: 260px;
margin-top: 100px;
 }

 .map
{
    width: 416px;
height: 280px;
margin-left: 120px;
margin-top: -10px;
}

.contact
{
    color: #592222;
font-family: "Dejanire Headline";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left:65px ;

}

.contactinfo
{
    color: #000;
text-align: center;
font-family: "ITC Avant Garde Gothic Pro";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
float: left;
margin-left: 59px;
margin-top: -20px;
text-align: center;
}
.hours
{
    color: #592222;
font-family: "Dejanire Headline";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left:135px ;
float: left;
margin-top: -66px;

}
.hoursinfo
{
     color: #000;
text-align: center;
font-family: "ITC Avant Garde Gothic Pro";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
float: left;
margin-left: 110px;
margin-top: -20px;
}
.location{
    color: #592222;
font-family: "Dejanire Headline";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
float: left;
margin-left: 75px;
margin-top: -65px;
}
.locationinfo{
    color: #000;
text-align: center;
font-family: "ITC Avant Garde Gothic Pro";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
float: left;
margin-left: 85px;
margin-top: -21px;
}
.marketing
{
    
 color: #592222;
font-family: "Dejanire Headline";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
float: left;
text-align:center;
margin-left:210px ;
}
.marketinginfo
{
    color: #000;
text-align: center;
font-family: "ITC Avant Garde Gothic Pro";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
float: left;
margin-left:210px ;
margin-top: -20px;
}

.matchapromo
{
    background-image: url(../images/matchapromo.jpg);
    width: 1280px;
height: 732px;
margin: 0px;
}

.matchaheader
{
    color: #546421;
font-family: "Benton Modern D";
font-size: 200px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top:0px;
padding-top: 150px;

text-align: center;
}

.newarrivalpromo{
    color: #645C21;

font-family: "Benton Modern D";
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: -220px;
}
.clickhere
{
    color: #262116;

text-align: center;
font-family: "Benton Modern D";
font-size: 20px;
font-style: normal;
font-weight: 210;
line-height: normal;
margin-top: 150px;
}
.backgroundmenu
{
    background-image: url(../images/MENUbackground.jpg);
    width: 1280px;
height:830px;
}
.cina
{
    margin-left: 400px;
    margin-top: 120px;
}
.hotcoffee{
    margin-left: 50px;
}
.icedcoffee{
    margin-left: 90px;
}
.bakery
{


color: #D9CEC1;

font-family: "Mort Modern";
font-size: 20px;
font-style: normal;
font-weight: 190;
line-height: normal;
margin-left: 440px;
}
.middlecoffee{
    color: #D9CEC1;
margin-top: -45px;
font-family: "Mort Modern";
font-size: 20px;
font-style: normal;
font-weight: 190;
line-height: normal;
text-align: center;

}
.colddrink{
    color: #D9CEC1;
margin-top: -45px;
font-family: "Mort Modern";
font-size: 20px;
font-style: normal;
font-weight: 190;
line-height: normal;
margin-left: 788px;
}

.latte
{
    background-image: url(../images/latte.jpg);
    width: 212px;
height: 335px;
margin-left: 35px;
float: left;
}
.classiclatte
{
    color: #262116;
text-align: center;
font-family: "ITC Avant Garde Gothic Pro";
font-size: 8px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 50px;
}
.lattetext
{
    
    color: #262116;
text-align: center;
font-family: "Mort Modern";
font-size: 20px;
font-style: normal;
font-weight: 210;
line-height: normal;
margin-top: -10px;

}
.mocha
{
     background-image: url(../images/mocha.jpg);
    width: 212px;
height: 335px;
float: left;
margin-left: 38px;

}
.description{
    color: #D9CEC1;

text-align: center;
font-family: "ITC Avant Garde Gothic Pro";
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 250px;
}
.price
{
    color: #D9CEC1;
text-align: center;
font-family: "ITC Avant Garde Gothic Pro";
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.description5
{
    color: #D9CEC1;

text-align: center;
font-family: "ITC Avant Garde Gothic Pro";
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 225px;
}

.matchamiddle{
    background-image: url(../images/matchamiddle.svg);
    width: 212px;
height: 335px;
float: left;
margin-left: 38px;
}
.cappuccino4{
    background-image: url(../images/cappiccino.jpg);
    width: 212px;
height: 335px;
float: left;
margin-left: 38px;
}

.strawberry{
    background-image: url(../images/strawberry.svg);
    width: 212px;
height: 335px;
float: left;
margin-left: 38px;
}

.ordernow{
    width: 95px;
height: 30px;
background: #D9CEC1;
color: #262116;
text-align: center;
font-family: "Mort Modern";
font-size: 10px;
font-style: normal;
font-weight: 190;
line-height: normal;
text-align: center;
align-content: center;
margin-left: 55px;
}
.ordernow3
{
     width: 95px;
height: 30px;
background: #D9CEC1;
color: #262116;
text-align: center;
font-family: "Mort Modern";
font-size: 10px;
font-style: normal;
font-weight: 190;
line-height: normal;
text-align: center;
align-content: center;
margin-left: 60px;
}
.clickhere1:hover
{
color: #225948;
}
.ordernowa:hover
{
    width: 95px;
height: 30px;
   color: #D9CEC1;
background-color: #262116;


}
.ordernowa
{
     width: 95px;
height: 30px;
    font-size: 10px;
    color: #262116;
   

}
.hoverlink:hover
{
   width: 95px;
height: 60px;
   color: #D9CEC1;
background-color: #262116; 
}