@charset "UTF-8";
/* CSS Document */

html{scroll-behavior: smooth;}
body {	margin: 0; }
/*this is video background*/
.video {
    position: relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

#bgvideo {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height:100%;
width:auto;
Height: auto;
z-index:-1;
transform: translate( -50%, -50%);
object-fit: cover;
}
.overlay { 
    position: relative;
    z-index:1;
    color: white;
    text-align: center;
    top: 50%;
       transform: translateY(-50%)
}
.video::after
{content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, .3);
    z-index:0;

}
.mainnav {
    color: #592222;
  width: 1280px;
height: 60px;
    background: #D9CEC1;
    text-align: right;
    line-height: 60px;
    position: absolute;
    top: 0;
    z-index: 10;
    position: sticky;

 



}
    nav a {

    color: #592222;
font-family: "Dejanire Headline";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
    line-height: normal;
      
        text-decoration:none;
        margin: 20px;
    }

    .logo
{
height: 61px;
position: absolute;
top: 0;
left: 5px;
}
